{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gotenberg SANDBOX</h1>

    <a href="/template">Template</a>

    <h2>Usual PDF ways</h2>
    <ul>
        <li>
            <a href="{{ path('usual_generate_twig_pdf') }}">Usual PDF generated from twig & streamed</a>
        </li>
        <li>
            <a href="{{ path('usual_generate_twig_split_merge_pdf') }}">Usual PDF generated from twig & splited & merged & saved</a>
        </li>
    </ul>

    <h2>Gotenberg PHP Client</h2>
    <ul>
        <li>
            <a href="{{ path('gotenberg_php_client_generate_url_pdf') }}">Gotenberg PHP Client PDF generated from url & streamed</a>
        </li>
    </ul>

    <h2>Gotenberg Symfony Bundle</h2>
    <ul>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_twig_pdf') }}">Gotenberg Symfony Bundle PDF generated from twig & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_url_pdf') }}">Gotenberg Symfony Bundle PDF generated from url & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_basic_docx_pdf') }}">Gotenberg Symfony Bundle PDF generated from basic docx & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_complex_docx_pdf') }}">Gotenberg Symfony Bundle PDF generated from complex docx & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_basic_pptx_pdf') }}">Gotenberg Symfony Bundle PDF generated from basic pptx & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_complex_pptx_pdf') }}">Gotenberg Symfony Bundle PDF generated from complex pptx & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_twig_split_merge_pdf') }}">Gotenberg Symfony Bundle PDF generated from twig & splited & merged & streamed</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_generate_twig_async_pdf') }}">Gotenberg Symfony Bundle PDF generated from twig asynchronously</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_merge_multiple_massive_pdf') }}">Gotenberg Symfony Bundle PDF merged from multiple massive files synchronously</a>
        </li>
        <li>
            <a href="{{ path('gotenberg_symfony_bundle_merge_multiple_massive_async_pdf') }}">Gotenberg Symfony Bundle PDF merged from multiple massive files asynchronously</a>
        </li>
    </ul>

{% endblock %}
